

$page-margin-bottom: 20em;

$page-body-background: #f0f0f0;
$page-border-color: #f13d60;

$beli-lila-dark: #76285b;
$beli-lila-light: #f46b85;

$text-color: $beli-lila-dark;
$link-color: blue;

// typographic settings
$sans-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$serif-font-family: "Times New Roman", Times, serif;
$mono-font-family: Monaco, Menlo, Consolas, "Courier New", monospace !default;

$base-font-size: 16px;
$base-line-height: 20px; 
