@import "compass/reset";
@import "compass/css3/images";
@import "compass/typography/links/link-colors";

@import "variables";
@import "type";
@import "article";
@import "page_layout";

.logo {
  overflow: hidden;
  display: block;
  width: 50%;
}

#logo {
  width: 100%;
}

.img-66 {
  width: 66%;
}

/* move content up */
@media (min-width: $smart-phone-width) {
  .move-up {
    margin-top: -6em;
  }
}

/* place content in the right column */
.indent-content {
  margin-left: 50%;
}

a {
  @include link-colors($beli-lila-dark, $beli-lila-light, $beli-lila-dark, $beli-lila-dark, $beli-lila-light);

  text-decoration: none;
}

/* from http://blog.teamtreehouse.com/a-better-clearfix-with-sass */
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
