---
title: Grusswort des Schirmherrn B&uuml;rgermeister Andreas Schneucker
---

<section class="indent-content move-up">
  <h2>Grusswort des Schirmherrn B&uuml;rgermeister Andreas Schneucker</h2>

  <%= image_tag 'Schneucker-Andreas.JPG', :class => 'img-66' %>

  <p>Als Bürgermeister der Gemeinde Binzen und Schirmherr der Konzertreihe &bdquo;Klassik bewegt&ldquo; freue ich mich auf dieses Konzert.</p>

  <p>Besonders danken möchte ich den Partnern der Konzertreihe, den Autohäusern ASAG und BWM Gottstein, dem Wohnpark Binzen, der Sparkasse Markgräflerland, der Koreanischen Firma <em>AOK</em>, sowie Herrn Effert von der IG Lebendiges Binzen. Ein großes Dankeschön gilt der Initiatorin dieser Musikreihe, der Konzertpianistin Deug-Yun Kim.</p>

    <p>In diesem Sinne freue ich mich auf ein sch&ouml;nes Konzert und hoffe auf ein weiteres gutes Gelingen der Konzertreihe und freue mich auf weitere spannende Konzerte in Binzen.</p>

    <em>Andreas Schneucker</em>
  </section>