---
title: Grusswort des Schirmherrn B&uuml;rgermeister Andreas Schneucker
---

<section class="indented-content move-up">
  <h2>Grusswort des Schirmherrn B&uuml;rgermeister Andreas Schneucker</h2>

  <%= image_tag 'Schneucker-Andreas.JPG', :class => 'img-66' %>

  <p>Die Gemeinde Binzen freut sich sehr auf das 2. Konzert der Konzertreihe &bdquo;Klassik bewegt&ldquo;.</p>

  <p>Nachdem im Fr&uuml;hsommer das Trio Aquarelle den Anfang gemacht hat und uns auf eine musikalische Weltreise zwischen den Kontinenten entf&uuml;hrt hat lautet am 17. November 2013 das Motto: &bdquo;Mozart &ndash; Wunderkind und Scherzbold&ldquo;</p>

  <p>Musik bringt auch hier Menschen zusammen. Dieses Familienkonzert wird ein Mitmachkonzert: Die Kinder d&uuml;rfen klatschen, singen und auch dirigieren.</p>

  <p>Ich bin gespannt, wie wir uns von diesem Konzert anstecken lassen.</p>

  <p>Ein gro&szlig;es Dankesch&ouml;n gilt der Initiatorin dieser Musikreihe, Konzertpianistin Deug-Yun Kim, f&uuml;r ihren Einsatz und die vielen Ideen. Ein herzliches Dankesch&ouml;n gilt den Musikern Deug-Yun Kim (Klavier), Katarzyna Bury (Querfl&ouml;te) und Marcis Kuplais (Cello) und Klaus Koska der als Sprecher durch die abwechslungsreiche Sonntagsmatinee f&uuml;hrt. </p>
    <p>In diesem Sinne freue ich mich auf ein sch&ouml;nes Mitmach-Konzert und hoffe auf ein weiteres gutes Gelingen der Konzertreihe und freue mich auf weitere spannende Konzerte in Binzen.</p>

    <em>Andreas Schneucker</em>
  </section>