---
title: Impressum
---


<section id="impressum" class="indent-content">
  <h2>Impressum</h2>
  <h4>Anbieter dieses Internetangebots</h4>

  <div class="vcard">
    <p class="fn">Deug-Yun Kim</p>
    <p class="adr">
      <span class="street-address">Schwarzwaldstrasse 13</span><br>
      <span class="postal-code">79589</span> <span class="region">Binzen</span><br>
      <span class="country-name">Deutschland</span>
    </p>
    <p class="tel">+49 7621 5833885</p>
    <a class="url" href="http://www.klassikbewegtbinzen.de">www.klassikbewegtbinzen.de</a>
  </div>
</section>