---
title: Klassik bewegt - BINZENER KONZERT REIHE
---

<section class="content">


  <article class="art" xmlns:v="http://rdf.data-vocabulary.org/#" typeof="v:Event">
    <!-- search machine meta data -->
    <div property="v:url" content="http://www.klassikbewegtbinzen.de#2013-10-familienkonzert"></div>
    <div property="v:summary" content="Familienkonzert - W.A. Mozart - Wunderkind &amp; Scherzbold"></div>
    <div property="v:description" content="Eine musikalische Familienreise mit spannenden Geschichten und Musik von Wolfgang Amadeus Mozart mit Deug-Yun Kim (Klavier), Katarzyna Bury (Querflöte), Mārcis Kuplais (Violoncello) und Klaus Koska (Sprecher)"></div>
    <div property="v:startDate" content="2013-12-08"></div>
    <span rel="v:location">
      <span typeof="v:Organization">
        <span property="v:name" content="Gemeindehalle Binzen"></span>
        <span rel="v:address">
          <span typeof="v:Address">
            <span property="v:street-address" content="Schulstrasse 7"></span>
            <span property="v:locality" content="Binzen"></span>
          </span>
        </span>

        <span rel="v:geo">
          <span typeof="v:Geo">
            <span property="v:latitude" content="47.63536999999999" ></span>
            <span property="v:longitude" content="7.62278" ></span>
          </span>
        </span>
      </span>   
    </span>
    <!-- end of search machine meta data -->

    <!-- visible data here -->
    <a name="2013-10-familienkonzert">
      <% link_to 'assets/2013-10-Familienkonzert_Flyer_A5.pdf', :class => 'cover' do %>
        <%= image_tag 'cover/small/2013-10-Mozart_Plakat_screenshot.jpeg', :property => 'v:photo' 
        %>
      <% end %> 

      <div class="title">
        <div class="highlight">&gt; AKTUELL</div>
        <div class="date">8. Dezember 2013</div>
        <h2 class="label">Familienkonzert</h2>
        <div class="place">Foyer der Gemeindehalle Binzen</div>
      </div>

    </a>
  </article>


  <article class="art" xmlns:v="http://rdf.data-vocabulary.org/#" typeof="v:Event">
    <!-- search machine meta data -->
    <div property="v:url" content="http://www.klassikbewegtbinzen.de#2013-06-trio-aquarelle"></div>
    <div property="v:summary" content="Trio Aquarelle"></div>
    <div property="v:description" content="Eine musikalische Weltreise durch die Kontinente von Niccolò Paganini bis Astor Piazzolla mit Deug-Yun Kim (Klavier), Katarzyna Bury (Querflöte) und Mārcis Kuplais (Violoncello)"></div>
    <div property="v:startDate" content="2013-06-15"></div>
    <span rel="v:location">
      <span typeof="v:Organization">
        <span property="v:name" content="Gemeindehalle Binzen"></span>
        <span rel="v:address">
          <span typeof="v:Address">
            <span property="v:street-address" content="Schulstrasse 7"></span>
            <span property="v:locality" content="Binzen"></span>
          </span>
        </span>

        <span rel="v:geo">
          <span typeof="v:Geo">
            <span property="v:latitude" content="47.63536999999999" ></span>
            <span property="v:longitude" content="7.62278" ></span>
          </span>
        </span>
      </span>   
    </span>
    <!-- end of search machine meta data -->

    <a name="2013-06-trio-aquarelle">

      <% link_to 'assets/2013-06-Trio-Aquarelle_Flyer_A5.pdf', :class => 'cover' do %><%= image_tag 'cover/small/2013-06-aquarelle-gross.jpeg' %><% end %> 

      <div class="title">
        <div class="date">15. Juni 2013</div>
        <h2 class="label">Trio Aquarelle</h2>
        <div class="place">Foyer der Gemeindehalle Binzen</div>
      </div>

    </a>
  </article>


</section>


