---
title: Welcome to Middleman
---

<section >
  <article class="article-list info">

    <% link_to 'assets/2013-10-Familienkonzert_Flyer_A5.pdf', :class => 'cover' do %>
     <%= image_tag 'cover/small/2013-10-Mozart_Plakat_screenshot.jpeg', :class => 'image' %>
    <% end %> 

    <div class="">
      <div class="wrapper">
        <div class="highlight">&gt; AKTUELL</div>
        <div class="date">17. November 2013</div>
        <div class="place">Familienkonzert im Foyer der Gemeindehalle Binzen</div>
      </div>
    </div>
  </article>  

  <article class="article-list info">

    <% link_to 'assets/2013-10-Familienkonzert_Flyer_A5.pdf', :class => 'cover' do %>
     <%= image_tag 'cover/small/2013-10-Mozart_Plakat_screenshot.jpeg', :class => 'image' %>
    <% end %> 

    <div class="">
      <div class="wrapper">
        <div class="highlight">&gt; AKTUELL</div>
        <div class="date">17. November 2013</div>
        <div class="place">Familienkonzert im Foyer der Gemeindehalle Binzen</div>
      </div>
    </div>
  </article>  

</section>


<h1>Middleman is Watching</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, sint, illo eum quibusdam illum saepe velit nesciunt eius neque ex non numquam itaque. Ipsum, tenetur, voluptatibus, adipisci dignissimos ea veritatis autem distinctio iure architecto quos magnam ab consectetur sed sapiente nulla necessitatibus mollitia? Magnam, beatae, ex officiis odit animi velit delectus et deleniti suscipit at quisquam est repellat neque quo architecto molestiae nam officia soluta optio vel modi voluptatum dolor saepe assumenda adipisci ducimus in accusamus eaque consequatur non! Natus, ab, minus vero quibusdam vitae atque hic aliquid asperiores rem eum perspiciatis praesentium eos et ea neque modi at! Dolor!</p>
