---
title: Home
---

<section class="content move-up">


  <article class="art" prefix:v="http://rdf.data-vocabulary.org/#" typeof="v:Event">
    <!-- search machine meta data -->
    <div property="v:url" content="http://www.klassikbewegtbinzen.de#2014-09-momente-des-gluecks"></div>
    <div property="v:name" content="Momente des Glücks - Erinnerungen an die Ferien"></div>
    <div property="v:summary" content="Kammermusikkonzert mit dem Trio Aquarelle
Deug-Yun Kim (Klavier), Katarzyna Bury
(Querflöte) und Mārcis Kuplais (Cello)"></div>
    <div property="v:description" content="Erinnern Sie sich auch gerne an Ihre Ferien? „Impressions of a holiday”, so betitelt der Komponist Eugene Goossens sein Werk, mit dem die Binzener Konzertreihe «Klassik bewegt» das diesjährige Herbstkonzert eröffnet. In diesem Werk, welches vom französischen Impressionismus beeinflusst ist, beschreibt Goossens sehr farbenprächtig Eindrücke seiner Ferien, wie etwa einen Ausflug auf einen Berg oder einen malerischen Nachmittag am Fluss, wo sich die Wassermühlen drehen und man aus der Ferne die Kirchenglocken läuten hört... Neben diesen schönen Erinnerungen hat das Trio Aquarelle noch einen weiteren Höhepunkt im Reisegepäck: Man darf sich freuen auf die Uraufführung eines Tangowerkes des Komponisten Willy Vogl aus Grenzach-Wyhlen. Es handelt sich um die Triofassung des Tango Consolationis, in welchem er zwei ganz unterschiedliche Genres, nämlich ein evangelisches Kirchenlied aus dem 17. Jahrhundert und eben die leidenschaftliche Musik des Tango miteinander verbindet. Willy Vogl hat diese Triofassung eigens für das Trio Aquarelle bearbeitet und sie wird an diesem Tag erstmal vor Publikum erklingen. Wenn es um Tango geht, darf natürlich Astor Piazzolla nicht fehlen. Daher befinden sich noch einige Stücke des Meisters im Reisegepäck, mit denen dieses abwechslungsreiche Konzert seinen Ausklang findet."></div>
    <div property="v:startDate" content="2014-10-12"></div>
    <span rel="v:location">
      <span typeof="v:Organization">
        <span property="v:name" content="BMW Autohaus Gottstein"></span>
        <span rel="v:address">
          <span typeof="v:Address">
            <span property="v:street-address" content="Konrad-Zuse-Str. 4"></span>
            <span property="v:locality" content="Binzen"></span>
          </span>
        </span>

        <span rel="v:geo">
          <span typeof="v:Geo">
            <span property="v:latitude" content="47.6234" ></span>
            <span property="v:longitude" content="7.61279" ></span>
          </span>
        </span>
      </span>   
    </span>
    <!-- end of search machine meta data -->
    <!-- visible data here -->
    <a name="2014-09-momente-des-gluecks"> </a>

    <div class="cover">
      <div class="hint"><a class="content" href="http://klassikbewegt.jimdo.com">Jetzt Tickets bestellen</a></div>
      <% link_to 'assets/2014-09-Flyer_Gottstein_A3.pdf', :alt => 'Programm cover', :title => 'Programm herunterladen' do %>
        <%= image_tag 'cover/small/2014-09-momente-des-gluecks.jpeg', :property => 'v:photo' 
        %>
      <% end %> 
    </div>

    <div class="title">
      <div class="highlight">&gt; AKTUELL</div>
      <div class="date">12. Oktober 2014</div>
      <div class="time">16h</div>
      <h2 class="label">Momente des Glücks</h2>
      <div class="place">BMW Gottstein Binzen, Konrad-Zuse-Str. 4</div>
    </div>
  </article>



  <article class="art" prefix:v="http://rdf.data-vocabulary.org/#" typeof="v:Event">
    <!-- search machine meta data -->
    <div property="v:url" content="http://www.klassikbewegtbinzen.de#2014-05-familienkonzert"></div>
    <div property="v:name" content="Familienkonzert - Die Abenteuer des Peer Gynt"></div>
    <div property="v:summary" content="Die Geschichte des Peer Gynt - getanzt und erzählt - mit der berühmten Musik des Norwegers Edvard Grieg"></div>
    <div property="v:description" content="Die ruhelose Seele des Peer Gynt treibt ihn in eine wilde Folge von spannenden Abenteuern, die ihn unter anderem in die Berge der Trolle, auf die hohe See, in die Wüsten Marokkos und nach Ägypten führt. Doch am Ende vermisst er seine alte Heimat... 1867 schrieb der norwegische Theaterautor Henrik Ibsen den Peer Gynt. Zu grosser Berühmtheit gelangte das Werk jedoch erst mit der Vertonung durch den Komponisten Edvard Grieg. Die Konzertreihe «Klassik bewegt» lädt dazu ein, die Abenteuergeschichte des Peer Gynt zu der berühmten Musik von Edvard Grieg im Rahmen eines Familienkonzertes kennenzulernen. Erzählt wird die Geschichte vom Sprecher Klaus Koska sowie von zwei Balletttänzern, die von sechs Musikern begleitet werden. Man darf sich unter anderem freuen auf die bekannte Morgendämmerung und den schwungvollen Trolltanz!"></div>
    <div property="v:startDate" content="2014-05-18"></div>
    <span rel="v:location">
      <span typeof="v:Organization">
        <span property="v:name" content="ASAG Binzen"></span>
        <span rel="v:address">
          <span typeof="v:Address">
            <span property="v:street-address" content="Meitner Ring 3"></span>
            <span property="v:locality" content="Binzen"></span>
          </span>
        </span>

        <span rel="v:geo">
          <span typeof="v:Geo">
            <span property="v:latitude" content="47.62482" ></span>
            <span property="v:longitude" content="7.61046" ></span>
          </span>
        </span>
      </span>   
    </span>
    <!-- end of search machine meta data -->
    <!-- visible data here -->
    <a name="2014-05-familienkonzert"> </a>

    <div class="cover">
      <% link_to 'assets/2014-05-Familienkonzert_Flyer_A5.pdf', :alt => 'Programm cover', :title => 'Programm herunterladen' do %>
        <%= image_tag 'cover/small/2014-05-Peer-Gynt.jpeg', :property => 'v:photo' 
        %>
      <% end %> 
    </div>

    <div class="title">

      <div class="date">18. Mai 2014</div>
      <div class="time">11h und 15h</div>
      <h2 class="label">Familienkonzert</h2>
      <div class="place">ASAG Binzen, Meitner Ring 3</div>
    </div>
  </article>


  <article class="art" prefix:v="http://rdf.data-vocabulary.org/#" typeof="v:Event">
    <!-- search machine meta data -->
    <div property="v:url" content="http://www.klassikbewegtbinzen.de#2013-10-familienkonzert"></div>
    <div property="v:name" content="W.A. Mozart - Wunderkind &amp; Scherzbold"></div>
    <div property="v:summary" content="Familienkonzert - W.A. Mozart - Wunderkind &amp; Scherzbold"></div>
    <div property="v:description" content="Eine musikalische Familienreise mit spannenden Geschichten und Musik von Wolfgang Amadeus Mozart mit Deug-Yun Kim (Klavier), Katarzyna Bury (Querflöte), Mārcis Kuplais (Violoncello) und Klaus Koska (Sprecher)"></div>
    <div property="v:startDate" content="2013-12-08"></div>
    <span rel="v:location">
      <span typeof="v:Organization">
        <span property="v:name" content="Gemeindehalle Binzen"></span>
        <span rel="v:address">
          <span typeof="v:Address">
            <span property="v:street-address" content="Schulstrasse 7"></span>
            <span property="v:locality" content="Binzen"></span>
          </span>
        </span>

        <span rel="v:geo">
          <span typeof="v:Geo">
            <span property="v:latitude" content="47.63536999999999" ></span>
            <span property="v:longitude" content="7.62278" ></span>
          </span>
        </span>
      </span>   
    </span>
    <!-- end of search machine meta data -->

    <!-- visible data here -->
    <a name="2013-10-familienkonzert">
      <% link_to 'assets/2013-10-Familienkonzert_Flyer_A5.pdf', :class => 'cover', :alt => 'Programm cover', :title => 'Programm herunterladen' do %>
        <%= image_tag 'cover/small/2013-10-Mozart_Plakat_screenshot.jpeg', :property => 'v:photo' 
        %>
      <% end %> 

      <div class="title">
        <div class="date">8. Dezember 2013</div>
        <h2 class="label">Familienkonzert</h2>
        <div class="place">Foyer der Gemeindehalle Binzen</div>
      </div>

    </a>
  </article>


  <article class="art" prefix:v="http://rdf.data-vocabulary.org/#" typeof="v:Event">
    <!-- search machine meta data -->
    <div property="v:url" content="http://www.klassikbewegtbinzen.de#2013-06-trio-aquarelle"></div>
    <div property="v:name" content="Trio Aquarelle"></div>
    <div property="v:summary" content="Eine musikalische Weltreise durch die Kontinente von Niccolò Paganini bis Astor Piazzolla"></div>
    <div property="v:description" content="Eine musikalische Weltreise durch die Kontinente von Niccolò Paganini bis Astor Piazzolla mit Deug-Yun Kim (Klavier), Katarzyna Bury (Querflöte) und Mārcis Kuplais (Violoncello)"></div>
    <div property="v:startDate" content="2013-06-15"></div>
    <span rel="v:location">
      <span typeof="v:Organization">
        <span property="v:name" content="Gemeindehalle Binzen"></span>
        <span rel="v:address">
          <span typeof="v:Address">
            <span property="v:street-address" content="Schulstrasse 7"></span>
            <span property="v:locality" content="Binzen"></span>
          </span>
        </span>

        <span rel="v:geo">
          <span typeof="v:Geo">
            <span property="v:latitude" content="47.63536999999999" ></span>
            <span property="v:longitude" content="7.62278" ></span>
          </span>
        </span>
      </span>   
    </span>
    <!-- end of search machine meta data -->

    <a name="2013-06-trio-aquarelle">

      <% link_to 'assets/2013-06-Trio-Aquarelle_Flyer_A5.pdf', :class => 'cover' do %><%= image_tag 'cover/small/2013-06-aquarelle-gross.jpeg' %><% end %> 

      <div class="title">
        <div class="date">15. Juni 2013</div>
        <h2 class="label">Trio Aquarelle</h2>
        <div class="place">Foyer der Gemeindehalle Binzen</div>
      </div>

    </a>
  </article>

  <div class="indent-content">
            <!-- facebook like button -->
        <div class="fb-like-box" data-href="https://www.facebook.com/KlassikBewegt" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>

  </div>

</section>