---
title: Welcome to Middleman
---

<section >

  <article class="art">

      <% link_to 'assets/2013-10-Familienkonzert_Flyer_A5.pdf', :class => 'cover' do %><%= image_tag 'cover/small/2013-10-Mozart_Plakat_screenshot.jpeg' %><% end %> 

      <div class="title">
        <div class="highlight">&gt; AKTUELL</div>
        <div class="date">17. November 2013</div>
        <h2 class="label">Familienkonzert</h2>
        <div class="place">Foyer der Gemeindehalle Binzen</div>
      </div>

  </article>


  <article class="art">

      <% link_to 'assets/2013-06-Trio-Aquarelle_Flyer_A5.pdf', :class => 'cover' do %><%= image_tag 'cover/small/2013-06-aquarelle-gross.jpeg' %><% end %> 

      <div class="title">
        <div class="date">15. Juni 2013</div>
        <h2 class="label">Trio Aquarelle</h2>
        <div class="place">Foyer der Gemeindehalle Binzen</div>
      </div>

  </article>


</section>


