---
title: Warum &ldquo;Klassik bewegt&rdquo;?
---

<section class="indent-content move-up">
  <h2>Warum &ldquo;Klassik bewegt&rdquo;?</h2>

  <%= image_tag 'Deug-Yun-Kim.JPG', :class => 'img-66' %>
  
  <p>
    Ich heisse Deug-Yun Kim, bin ausgebildete Konzertpianistin und wohne ich mit meiner Familie in Binzen. 
  </p>
  <p>
    Seit langem konzertiere ich hier in der Region. Dabei habe ich oft erfahren, dass viele Menschen der klassischen Musik distanziert gegen&uuml;ber stehen. Vielfach herrscht das Vorurteil, klassische Musik sei schwer verst&auml;ndlich. 
  </p>
  <p>
    Ich meine, das muss nicht so sein: Seit meiner fr&uuml;hen Kindheit besch&auml;ftige ich mich mit Musik. Dabei habe ich eine reiche und vielf&auml;ltige Welt entdeckt, die mir viel bedeutet. In der Musik ist alles drin: alle Gef&uuml;hle, alle Stimmungen, Geschichten von Menschen und Geschichten aus dem Leben. Musik bewegt! Musik l&auml;sst mich freuen, trauern, tr&ouml;sten, tanzen und schwelgen. Ich kann mich dabei &uuml;ber die allt&auml;glichen Dinge erheben und die Welt mit anderen Augen sehen. Musik erm&ouml;glicht Zeitreisen durch die Geschichte und durch die Kultur, denn in der Musik spiegeln sich alle Entwicklungen der Kultur und der Moden wider.
  </p>
  <p>
    Neben dieser innerer Sch&ouml;nheit hat Musik hat noch eine zweite spannende Seite: Sie bringt die Menschen zusammen. Seien es die Musiker, die sich zu Proben treffen; seien es die Konzertbesucher, die zum Konzert kommen; immer bringt Musik die Menschen zu einem gemeinsamen Anlass zusammen. Man l&auml;sst den Alltag hinter sich, entspannt sich beim Zuh&ouml;ren, l&auml;sst die Seele baumeln. In der Pause geniesst man im Kreis der Freunde ein Glas Wein und tauscht sich angeregt aus. Musik schafft diese einzigartigen gesellschaftlichen Anl&auml;sse, bei denen man gemeinsam Sch&ouml;nes erlebt und gemeinsam Freude teilen kann.
  </p>
  <p>
    W&auml;hrend meines Lebens habe ich so viele sch&ouml;ne Erfahrungen mit Musik gemacht. Diese Erfahrungen m&ouml;chte ich gerne mit den Menschen teilen und ihnen eine T&uuml;r in diese andere Welt &ouml;ffnen. Ich m&ouml;chte den Menschen den Spass an der Musik und an dem gemeinsamen Musikerlebnis vermitteln. 
  </p>
  <p>
    Als Konzertpianistin gebe ich seit vielen Jahren Konzerte. Dabei kommen oft Menschen, die das erste Mal zu einem klassischen Konzert gekommen sind. Von vielen Konzertbesuchern und Kritikern habe ich positive R&uuml;ckmeldungen erhalten. Besucher, die bislang keinen Bezug zu klassischer Musik hatten, kamen nach dem Konzert begeistert zu mir und zeigten mir, dass es gelungen war, ihnen eine T&uuml;r in die reiche Welt der klassischen Musik zu &ouml;ffnen. 
  </p>
  <p>
    Diese sch&ouml;nen Erfahrungen motivieren mich, noch mehr Menschen anzusprechen. Ich habe daher hier in Binzen die Konzertreihe &ldquo;Klassik bewegt&rdquo; in&rsquo;s Leben gerufen. Im Rahmen dieser Reihe will ich gezielt Leute ansprechen, die sonst nicht in Konzerte gehen. Um dieses Ziel zu erreichen, will ich die Konzerte anders als &uuml;blich &ldquo;verpacken&rdquo;, etwa indem ich etwa ein Konzert mit Multimedia oder Filmen pr&auml;sentiere. Oder indem ich ein Gespr&auml;chskonzert veranstalte und die St&uuml;cke dabei erl&auml;utere. Oder indem ich gezielt Konzertangebote f&uuml;r Familien, also Familienkonzerte mache. Interessant ist auch, klassische und heutige Musik zu verbinden zum Beispiel Barockmusik und Jazz oder Tango mit Tanz. 
  </p>

  <em>Deug-Yun Kim</em><br />

  <em>Initiatorin von &ldquo;Klassik bewegt&rdquo;</em>
</section>

